header{
     background: #BBBBBB;
     padding: 20px 0;
}

.caja{
     position: relative;
     width: 940px;
     margin: 0 auto;
}
nav{
     position: absolute;
     top: 110px;
     right:0;
}
nav li{
     display: inline;
     margin: 0 0 0 15px;
     
}

nav a{
     text-transform: uppercase;
     color: black;
     font-weight: bold;
     font-size: 22px;
     text-decoration: none;
}

nav a:hover{
     color: #c78c19;
     text-decoration:underline;
}

.principal{
     background: linear-gradient(to right, #bdc3c7)     
}
.productos{
     width: 940px;
     margin: 0 auto;
     padding: 50px;
}

.productos li{
     display: inline-block;
     text-align: center;
     width: 30%;
     vertical-align: top;
     margin: 0 1.5%;
     padding: 30px 20px;
     box-sizing: border-box;
     border: 2px solid black;
     border-radius: 10px;
}

.productos li:hover{
     border-color: #c78c19;
}

.productos li:active{
     border-color: #c78c19;
}

.productos li:hover h2{
     font-size: 33px;
}

.productos h2{
     font-size: 30px;
     font-weight: bold;
}

.descripcion{
     font-size: 18px;

}

.producto-precio{
     font-size: 20px;
     font-weight: bold;
     margin-top: 10px;
}

footer{
     text-align: center;
     background: url(imagenes/bg.jpg);
     padding: 40px;
}
.final-text{
     color: antiquewhite;
     font-size: 13px;
     margin: 20px;
}



form{
     margin: 40px 0;
}

form label, form legend{
     display:block;
     font-size: 20px;
     margin: 0 0 10px;
}

.input-padron{
     display: block;
     margin: 0 0 20px;
     padding: 10px 25px;
     width: 50%;
}

.checkbox{
     margin:20px 0;
}

.enviar{
     width: 40%;
     padding: 15px 0;
     font-size: 18px;
     font-weight: bold;
     color: white;
     background: orange;
     border: none;
     border-radius: 5px;
     transition: 1s all;
     cursor: pointer;
}

.enviar:hover{
     background: darkorange;
     transform: scale(1.2);
}
table{
     margin: 40px 40px;
}
thead{
     background:#CCCCCC;
     color: white;
     font-weight: bold;
}
td,th{
     border: 1px solid #000000;
     padding: 8px 15px;
}

/*CSS para nuesta página principal*/



.banner{
     width: 100%;
}

.principal1{
     padding: 3em;
     background: #FEFEFE;
     width: 940px;
     margin: 0 auto;    
}

.titulo-principal{
     text-align:center;
     font-size: 2em;
     margin: 0 0 1em;
     clear:left;
}

.principal1 p{
     margin: 0 0 1em;
}

.principal1 strong{
     font-weight: bold;
}
.principal1 em{
     font-style: italic;
}

.utensilios{
     width: 120px;
     float: left;
     margin: 0 20px 20px 0;
}
.mapa{
     padding: 3em 0;
     background: linear-gradient(#FEFEFE,#888888);
}  
.mapa p{
     margin: 0 0 2em;
     text-align: center;
}
.mapa-contenido{
     width: 940px;
     margin: 0 auto;
}

.titulo-centralizado{
     text-align:center;
     font-size: 2em;
     margin: 0 0 1em;
     clear:left;
}
.diferenciales{
     padding: 3em 0;
     background: #888888;
     box-shadow: inset 0 0 30px rgb(52, 22, 82);
}
.contenido-diferenciales{
     width: 640px;
     margin: 0 auto;
}
.lista-diferenciales{
     width: 40%;
     display: inline-block;
     vertical-align: top;
}

.items{
     line-height: 1.5;
}
.items:before{
     content:"★"
}
.items:first-child{
     font-weight: bold}

.imagen-diferenciales{
     width: 53%;
     transition: 400ms;
     box-shadow: 10px 10px 30px 15px #000000;
}
.imagen-diferenciales:hover{
     opacity: 0.3;

}
.video{
     width: 560px;
     margin: 1em auto;
}


@media screen and (max-width:480px){
     
     h1{
          text-align: center;
     }

     nav{
          position: static;
     }
     .caja, .principal1, .mapa-contenido,.contenido-diferenciales,.video{
          width: auto;
          font-size:small;
     }
     .lista-diferenciales, .imagen-diferenciales{
          width: 100%;
     }
     .productos{
          width: auto;
          margin: 0 auto;
          padding: auto;
     }
     .productos li{
          display: inline-block;
          text-align: center;
          width: auto;
          vertical-align: top;
          margin: auto;
          padding: auto;
          box-sizing: border-box;
          border: 2px solid black;
          border-radius: 10px;
     }
     
     
}